
{% extends 'base.html' %}

      {% block body %}

        <section class="container col-md-12" style="font-size: 25px;text-align: justify;display:block;margin:auto;"  >
          <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-3">
                <img src="../static/img/gatos_3.jpg" alt="" width="400px" style="display: block;margin: 2%;">
              </div>
              <div class="col-md-8" style="margin-left: 5%;">
                <div class="card-body" width="100%">
                  <table class="table  table-bordered" >
                    <h2>Bio</h2>
                      <tr>
                        <th scope="row" width="300px" >Nombre:</th>
                        <td>Mimilona</td>
                      </tr>
                      <tr>
                        <th scope="row">Edad:</th>
                        <td>6 meses</td>
                      </tr>
                      <tr>
                        <th scope="row">Raza:</th>
                        <td >Tricolor</td>
                      </tr>
                      <tr>
                        <th scope="row">Sexo:</th>
                        <td >Hembra</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table  table-bordered" style="text-align: left;" >
                    <h2>Más información</h2>
                      <tr>
                        <th scope="row" width="300px" >Se adapta a departamento:</th>
                        <td>Si</td>
                      </tr>
                      <tr>
                        <th scope="row">Convive con niños:</th>
                        <td>Si</td>
                      </tr>
                      <tr>
                        <th scope="row">Convive con perros:</th>
                        <td >No</td>
                      </tr>
                      <tr>
                        <th scope="row">Convive con gatos:</th>
                        <td >Si</td>
                      </tr>
                      <tr>
                        <th scope="row">Nivel de energía:</th>
                        <td >Baja</td>
                      </tr>
                      <tr>
                        <th scope="row">Estirilizado:</th>
                        <td >No</td>
                      </tr>
                      <tr>
                        <th scope="row">Whatsapp:</th>
                        <td >+56 9 4558 8693</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </section>

{%endblock%}