{% extends 'base.html' %}
{% load static %}

{%block body%}

    <div class="container" style="padding-left: 10%; padding-right: 10%;padding-top: 1%;">
        <h2>Modificar a {{perro.Nombre_Perro}} ({{perro.Nro_chip}})</h2>
        <form action="{% url 'modificarPerro' perro.Nro_chip %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
                <label for="Nro_chip" class="form-label">Nro Chip :</label>
                <input type="number" class="form-control" id="Nro_chip" name="Nro_chip" value="{{perro.Nro_chip}}" readonly>
            </div>
            <div class="mb-2">
                <label for="Nombre_Perro" class="form-label">Nombre :</label>
                <input type="text" class="form-control" id="Nombre_Perro" name="Nombre_Perro"value="{{perro.Nombre_Perro}}">
            </div>
            <div class="mb-2">
                <label for="Edad_Perro" class="form-label">Edad :</label>
                <input type="number" class="form-control" id="Edad_Perro" name="Edad_Perro" value="{{perro.Edad_Perro}}">
            </div>
            <div class="mb-2"> 
                <label for="Raza" class="form-label">Raza :</label>
                <select class="form-select " id="Raza" name="Raza">
                    {%for Raza in razas%}
                    {%if Raza.id == Perro.Raza.id%}
                        <option value="{{Raza.id}}" selected>{{Raza.Raza}}</option>
                    {%else%}
                    <option value="{{Raza.id}}">{{Raza.Raza}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-2"> 
                <label for="Sexo" class="form-label">Sexo :</label>
                <select class="form-select " id="Sexo" name="Sexo">
                    {%if perro.Sexo == 'Macho'%}
                    <option value="{{perro.Sexo}}" selected >{{perro.Sexo}}</option>     
                    <option value="Hembra">Hembra</option>
                    {%else%}
                    <option value="Macho">Macho</option> 
                    <option value="{{perro.Sexo}}" selected >{{perro.Sexo}}</option>  
                    {%endif%}  
                </select>
            </div>
            <div class="mb-2"> 
                <label for="Adapt" class="form-label">Se adapta a departamento :</label>
                <select class="form-select " id="Adapt" name="Adapt">
                    {% if perro.Adapt == 'Si'%}
                    <option value="{{perro.Adapt}}" selected>{{perro.Adapt}}</option>
                    <option value="No">No</option>
                    {%else%}
                    <option value="Si">Si</option>
                    <option value="{{perro.Adapt}}" selected>{{perro.Adapt}}</option>
                    {%endif%}
                </select>
            </div>
            <div class="mb-2"> 
                <label for="C_ninos" class="form-label">Convive con niños :</label>
                <select class="form-select " id="C_ninos" name="C_ninos">
                    {% if perro.C_ninos == 'Si'%}
                    <option value="{{perro.C_ninos}}" selected>{{perro.C_ninos}}</option>
                    <option value="No">No</option>
                    {%else%}
                    <option value="Si">Si</option>
                    <option value="{{perro.C_ninos}}" selected>{{perro.C_ninos}}</option>
                    {%endif%}
                </select>
            </div>
            <div class="mb-2"> 
                <label for="C_perros" class="form-label">Convive con perros :</label>
                <select class="form-select " id="C_perros" name="C_perros">
                    <  {% if perro.C_perros == 'Si'%}
                    <option value="{{perro.C_perros}}" selected>{{perro.C_perros}}</option>
                    <option value="No">No</option>
                    {%else%}
                    <option value="Si">Si</option>
                    <option value="{{perro.C_perros}}" selected>{{perro.C_perros}}</option>
                    {%endif%}
                </select>
            </div>
            <div class="mb-2"> 
                <label for="C_gatos" class="form-label">Convive con gatos :</label>
                <select class="form-select " id="C_gatos" name="C_gatos">
                    <  {% if perro.C_gatos == 'Si'%}
                    <option value="{{perro.C_gatos}}" selected>{{perro.C_gatos}}</option>
                    <option value="No">No</option>
                    {%else%}
                    <option value="Si">Si</option>
                    <option value="{{perro.C_gatos}}" selected>{{perro.C_gatos}}</option>
                    {%endif%}
                </select>
            </div>
            <div class="mb-2"> 
                <label for="Energia" class="form-label">Nivel de energía:</label>
                <select class="form-select " id="Energia" name="Energia">
                    {% if perro.Energia == 'Alta'%}
                    <option value="{{perro.Energia}}" selected>{{perro.Energia}}</option>
                    <option value="Media">Media</option>
                    <option value="Baja">Baja</option>
                    {% elif perro.Energia == 'Media' %}
                    <option value="Alta">Alta</option>
                    <option value="{{perro.Energia}}" selected>{{perro.Energia}}</option>
                    <option value="Baja">Baja</option>
                    {%else%}
                    <option value="Alta">Alta</option>
                    <option value="Media">Media</option>
                    <option value="{{perro.Energia}}" selected>{{perro.Energia}}</option>
                    {%endif%}
                </select>
            </div>
            <div class="mb-2"> 
                <label for="Esteril" class="form-label">Estirilizado :</label>
                <select class="form-select " id="Esteril" name="Esteril">
                    {% if perro.Esteril == 'Si'%}
                    <option value="{{perro.Esteril}}" selected>{{perro.Esteril}}</option>
                    <option value="No">No</option>
                    {%else%}
                    <option value="Si">Si</option>
                    <option value="{{perro.Esteril}}" selected>{{perro.Esteril}}</option>
                    {%endif%}
                </select>
            </div>
            <div class="mb-2">
                <label for="imagen" class="form-label">Imagen: </label>
                <input class="form-control" type="file" id="imagen" name="imagen">
              </div>
            <div class="mb-2">
                <button type="submit" class="btn btn-success col-md-12" >Realizar cambios</button>
            </div>
        </form>
    </div>
    
{%endblock%}
