{% extends 'base.html' %}

{% block body%}

<section class="container col-md-7" style="font-size: 25px;text-align: justify;display:block;margin:auto;"  >
    <div class="card mb-3" style="border-radius: 20%;">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="../static/img/Yo.jpg" alt="" width="250px" style="border-radius: 100% ;display: block;margin: 10%;">
        </div>
        <div class="col-md-9">
          <div class="card-body" width="100%">
            <p ><span style="font-weight: bolder ;">Nombre:</span>  Pansho alter ego</p> 
            <p ><span style="font-weight: bolder ;">Profesión:</span>  Veterinario</p> 
            <p ><span style="font-weight: bolder ;">Cargo:</span> Gerente General</p> 
            <p ><span style="font-weight: bolder ;">Correo:</span>  panshoalterego@ayudaunpeludo.cl</p> 
          </div>
        </div>
      </div>
    </div>
</section>
<br>
<section class="container col-md-7" style="font-size: 25px;text-align: justify;display:block;margin:auto;"  >
    <div class="card mb-3" style="border-radius: 20%;">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="../static/img/verdadero yo.png" alt="" width="250px" style="border-radius: 100% ;display: block;margin: 10%;text-align: right ;">
        </div>
        <div class="col-md-9">
          <div class="card-body" width="100%" style="text-align: left;">
            <p ><span style="font-weight: bolder ;">Nombre:</span>  Francisco Araya</p> 
            <p ><span style="font-weight: bolder ;">Profesión:</span>  Ingeniero en Informática</p> 
            <p ><span style="font-weight: bolder ;">Cargo:</span> Voluntario</p> 
            <p ><span style="font-weight: bolder ;">Correo:</span>  franci.arayag@duocuc.cl</p> 
          </div>
        </div>
      </div>
    </div>
</section>
<br>
<section class="container col-md-7" style="font-size: 25px;text-align: justify;display:block;margin:auto;"  >
    <div class="card mb-3" style="border-radius: 20%;">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="../static/img/account_circle_black_18dp.svg" alt="" width="250px" style="border-radius: 100% ;display: block;margin: 10%;">
        </div>
        <div class="col-md-9">
          <div class="card-body" width="100%">
            <p ><span style="font-weight: bolder ;">Nombre:</span>  Jonathan Salas</p> 
            <p ><span style="font-weight: bolder ;">Profesión:</span>  Ingeniero en Informática</p> 
            <p ><span style="font-weight: bolder ;">Cargo:</span> Ausente</p> 
            <p ><span style="font-weight: bolder ;">Correo:</span> ausente@duocuc.cl</p> 
          </div>
        </div>
      </div>
    </div>
</section>
{%endblock%}