{% extends 'base.html' %}
      
{% block body%}
      <div class="container">   
    <a href="{% url 'agregarPerro' %}"><button type="button" class="btn btn-primary" style="margin-bottom: 2%;margin-top: 2%;">Agregar perro</button></a>    
        <div class="row">
          {% for Perro in perros %}
          <div class="col-3">
            <div class="card" style="width: 18rem; display:inline-flex;">
              <a href="{% url 'perro' %}">
                <img src="/static/media/{{Perro.imagen}}" height="200px" class="card-img-top" alt="Perro 1">
              </a>
              <div class="card-body">
                <p class="card-text">{{Perro.Nombre_Perro}}</p>
              </div>
            </div> 
          </div>
          {% endfor %}
        </div>
    </div>
{% endblock%}





